@import 'partials/variables';
@import 'partials/mixins';
@import 'partials/components';
@import 'partials/base';



// SCSS Styles for Responsive Navbar
.card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.card-title {
    font-size: 1.25rem;
    margin-bottom: 0.75rem;
}

.card-footer .input-group input {
    background-color: whitesmoke
}
// Container styling
.container-fluid {
    // Add padding or margin as needed
    padding: 0; // Adjust as necessary
}

// Navbar styling
.navbar {
    // background-color: #f8f9fa; // Light background color
    margin-bottom: 0;
    z-index: 10000;

    &-brand {
        font-size: 1.5rem; // Adjust brand font size
        color: #333; // Brand color
        text-decoration: none;

        &:hover {
            color: #c41616; // Color on hover
        }
    }

    &-toggler {
        border: none; // Remove default border

        .navbar-toggler-icon {
            background-image: url('data:image/svg+xml,...'); // Add custom icon if needed
        }
    }

    &-collapse {
        // Styling for the collapsible menu
        .navbar-nav {
            // Remove default margin and padding
            margin: 0;
            padding: 0;
            list-style: none; // Remove list styling

            .nav-item {
                margin: 0;
                padding: 0;

                .nav-link {
                    display: block; // Ensure links are block-level for easier clicking
                    padding: 0.5rem 1rem; // Adjust padding
                    color: #007bff; // Link color
                    text-decoration: none;

                    &:hover {
                        color: #0056b3; // Color on hover
                        background-color: #e9ecef; // Background color on hover
                    }

                    &.active {
                        font-weight: bold; // Bold active link
                        color: #0056b3; // Color of the active link
                        background-color: #e9ecef; // Background color of the active link
                    }
                }
            }
        }
    }
}

.display_body{


    background-color: $Off_White;
}

body{
    background-color: $Off_White !important;
}

 

  .main-content{

 
  }

  
  header{
    left: 0;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: $Sage_Gray;
    z-index: 10000000;
  }
  
  footer{
    // margin-top: -10%;
    color: rgb(255, 151, 151);
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: black;
    left: 0;
    z-index: 10000000;
  }
  








