@import 'partials/variables';
@import 'partials/mixins';
@import 'partials/base';
@import 'partials/layout';
@import 'partials/components';



    body{

}

h1{
    color: $fifth;
}

.card_box{
    background-color: $third;
    width: 50%;
    color: white;

    img{
    
        width: 50%;
        height: 50%;
    }
}